/******************************************************************************/
/****************************START OF CSS RESET********************************/
/******************************************************************************/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid magenta; */
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.15;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/******************************************************************************/
/******************************END OF CSS RESET********************************/
/******************************************************************************/

img {
  /* color: black; */
  min-width: 25px;
  height: auto;
}

button {
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal.hidden {
  display: none;
}

.modal-content {
  position: relative;
  top: -40px;
  left: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid turquoise;
}

.main-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  margin-top: 4rem;
  margin-bottom: 4rem;
  align-self: center;
  font-size: 3.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-left: 0;
  gap: 1rem;
}

.menu>button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  align-self: center;
  gap: 1rem;
  margin-top: 2rem;
}

.projects-title {
  display: flex;
  align-self: flex-start;
  width: 100%;
}

.projects-title>p {
  font-size: 2rem;
  margin-right: 2rem;
}

.projects-title>button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-project {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar-project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 100%;
  margin-bottom: 1rem;
}

.sidebar-project-name {
  font-size: 1.5rem;
  width: 75%;
  text-align: left;
}

.sidebar-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

.sidebar-task>*:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  padding-left: 1rem;
}

.sidebar-task-check > img[data-task-check="true"] {
  filter: brightness(0) saturate(100%) invert(74%) sepia(37%) saturate(583%) hue-rotate(118deg) brightness(99%) contrast(98%);
}

.sidebar-task-priority > img[data-task-priority="low"] {
  filter: brightness(0) saturate(100%) invert(58%) sepia(93%) saturate(1736%) hue-rotate(77deg) brightness(106%) contrast(94%);
}
.sidebar-task-priority > img[data-task-priority="medium"] {
  filter: brightness(0) saturate(100%) invert(69%) sepia(38%) saturate(884%) hue-rotate(11deg) brightness(105%) contrast(90%)
}
.sidebar-task-priority > img[data-task-priority="high"] {
  filter: brightness(0) saturate(100%) invert(20%) sepia(95%) saturate(2505%) hue-rotate(346deg) brightness(88%) contrast(104%)
}

.sidebar-task-priority > img[data-is-check="true"] {
  visibility: hidden;
}
.sidebar-task-priority > img[data-is-check="false"] {
  visibility: visible;
}

.sidebar-task-name[data-is-check="true"] {
  text-decoration: line-through;
}

.sidebar-task-name[data-is-check="false"] {
  text-decoration: none;
}